:root {
  --gris: #aaa;
  --rojo: #e9305b;
  --rojo-oscuro: #af303f;
  --blanco: #fff;
  --luz: rgb(229, 255, 0);
}

main {
  align-items: center;
  /*azul celeste */ 
  background: #5a5bf3; 
  background: -moz-linear-gradient(left, #5a5bf3 0%, #91e7d9 100%); 
  background: -webkit-linear-gradient(left, #5a5bf3 0%,#91e7d9 100%); 
  background: linear-gradient(to right, #5a5bf3 0%,#91e7d9 100%);

  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  gap: 10px;
}

h1 {
  color: var(--blanco);
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 4px 4px 0 4px #666, 7px 7px 7px #5d5c5c;
  border-radius: 30px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  display: flex;
  background-color: var(--blanco);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--gris);
  color: var(--rojo);
  cursor: pointer;
  height: 90px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.tecla.activa,
.tecla:active {
  background-color: var(--rojo);
  border: 4px solid  var(--rojo);
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset;
  color: var(--blanco);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--rojo-oscuro) inset, 1px 1px 10px var(--luz);
}


/*sobre los videos*/
.imag-video video {
  border: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.gallo{
  height: 200px;
  width: 200px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}
footer {
  background-color: #333; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto blanco */
  padding: 20px; /* Espacio interno alrededor del contenido */
  text-align: center; /* Alinear el texto en el centro */
  width: 100%;
  bottom: 0;
  position: fixed;

}

footer h2 {

  font-size: 20px; /* Tamaño de fuente adecuado */
  margin-bottom: 10px; /* Margen inferior para separar el encabezado */
}
